<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/welcome**" access="permitAll" />
		<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />
		<intercept-url pattern="/superAdmin**" access="hasRole('SUPERADMIN')" />
		<form-login 
		login-page="/login"
		username-parameter="id"
		password-parameter="password"
		authentication-failure-url="/Access_Denied"/> 
		<csrf disabled="true"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="satish" password="123456" authorities="ROLE_ADMIN"/>
				<user name="rahul" password="123456" authorities="ROLE_USER"/>
				<user name="sunil" password="123456" authorities="ROLE_DBA,ROLE_ADMIN"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>